.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

body {
  background-color: lightblue;
  font-family: Algerian;
 font-family: 'Didact Gothic', sans-serif;
}



.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.button_system {
  text-align: center;
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.enginetest {
  text-align: center;
  background-color: #FF8484;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


